/* Tips.css */

.tips-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.tips-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.birth-tips, .newborn-care-tips {
    width: 70%;
    margin-bottom: 50px;
    margin-top: 30px;
}

.birth-tips h2, .newborn-care-tips h2 {
    margin-bottom: 20px;
}

.birth-tips ul, .newborn-care-tips ul {
    list-style-type: none;
    padding: 0;
}

.birth-tips li, .newborn-care-tips li {
    margin-bottom: 20px;
}

.zoom {
    transform: scale(1.1); /* Scale the element by 10% */
    transition: transform 0.3s ease; /* Apply a smooth transition effect */
    background-color: rgba(176, 85, 165, 0.133);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.066), 0 6px 20px 0 rgba(0, 0, 0, 0.066);

}
