/* Nutrition.css */

.nutrition-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(79, 168, 251, 0.067);
}

.nutrition-image {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.nutrition-category {
    background-color: rgba(176, 85, 165, 0.026);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.066), 0 6px 20px 0 rgba(0, 0, 0, 0.066);
    margin-top: 20px;
}

.nutrition-category h2 {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.937);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nutrition-tips {
    list-style-type: none;
    padding: 0;
    text-align: justify;
}

.nutrition-tips li {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.571);
    text-decoration: none;
}
.zoom {
    transform: scale(1.1); /* Scale the element by 10% */
    transition: transform 0.3s ease; /* Apply a smooth transition effect */
    background-color: rgba(176, 85, 165, 0.133);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.066), 0 6px 20px 0 rgba(0, 0, 0, 0.066);

}
